@keyframes pop{
    from{
        transform:scale(0.6);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    display:flex;
    height:100vh;
    background:linear-gradient(135deg,#fff8fb,#ffeef5,#fde7f0);
    overflow:hidden;
}

/* WELCOME SCREEN */

.main-welcome{
    position:fixed;
    width:100%;
    height:100%;
    background:linear-gradient(135deg,#fff8fb,#ffeef5,#fde7f0);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:1s;
}

.welcome-content{
    text-align:center;
}

.welcome-content h1{
    font-size:4.5rem;
    color:#c45f8d;
    font-family:'Pacifico',cursive;
}

.welcome-content p{
    color:#8d6b7a;
    margin-top:15px;
}

.welcome-content span{
    color:#b58a9d;
}

/* SIDEBAR */

.sidebar{
    width:270px;
    background:rgba(255,255,255,0.45);
    backdrop-filter:blur(20px);
    padding:30px 20px;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.logo{
    text-align:center;
    margin-bottom:20px;
}

.logo h1{
    color:#c45f8d;
    font-size:2rem;
    font-family:'Pacifico',cursive;
}

.logo p{
    color:#9b7384;
}

.menu-btn{
    padding:18px;
    border:none;
    border-radius:18px;
    background:white;
    color:#7a5a68;
    cursor:pointer;
    transition:0.3s;
    text-align:left;
}

.menu-btn:hover{
    background:#dba4bb;
    color:white;
}

/* MAIN */

.main{
    flex:1;
    padding:35px;
    overflow-y:auto;
}

.section{
    display:none;
}

.active{
    display:block;
}

.welcome-card{
    background:white;
    padding:25px;
    border-radius:28px;
    margin-bottom:25px;
}

.welcome-card h1{
    color:#c45f8d;
}

.welcome-card p{
    color:#7a5a68;
    margin-top:10px;
}

.card{
    background:rgba(255,255,255,0.55);
    padding:30px;
    border-radius:30px;
}

h2{
    color:#c45f8d;
    margin-bottom:20px;
}

input,
textarea{
    width:100%;
    padding:18px;
    border:none;
    border-radius:18px;
    outline:none;
    margin-bottom:15px;
    background:white;
    border:1px solid #f0d6e2;
}

button{
    padding:15px 25px;
    border:none;
    border-radius:15px;
    background:#cf7ea1;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#bb688d;
}

.response-box{
    margin-top:25px;
    background:white;
    padding:25px;
    border-radius:22px;
    line-height:1.9;
    white-space:pre-wrap;
    color:#5c4651;
}

/* TIMER */

.timer-box{
    text-align:center;
}

.timer-display{
    font-size:5rem;
    color:#c45f8d;
    margin:30px 0;
}

.timer-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
}

.cute-tag{
    margin-top:20px;
    color:#9b7384;
}

/* WATERMARK */

.watermark{
    position:fixed;
    bottom:15px;
    right:20px;
    color:#cfa7b8;
}
